/* calendar.css */

/* Container cho lịch */
.calendar-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
}

/* Bảng lịch */
.calendar-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    background-color: #f9f9f9;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calendar-table th,
.calendar-table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.calendar-table th {
    background-color: #f3f3f3;
    font-weight: bold;
}

.calendar-table tr:last-child td {
    border-bottom: none;
}

/* Ô ngày */
.day {
    position: relative;
    height: 100px;
    background-color: #fff;
}

.day:not(.other-month):hover {
    background-color: #ccc;
    cursor: pointer;
}

/* Dot hiển thị cho income và expense */
.income-dot,
.expense-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.income-dot {
    background-color: green;
    top: 5px;
    left: 35px;
}

.expense-dot {
    background-color: red;
    top: 5px;
    right: 35px;
}

/* Các ô không thuộc tháng hiện tại */
.other-month {
    color: #ccc !important;
}

/* Hiển thị số tiền */
.day-amount {
    font-size: 16px;
    font-weight: 600;
}

/* Header của lịch */
.calendar-header {
    background-color: bisque;
    border-radius: 10px;
    margin: 0 auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    max-width: fit-content;
    padding: 5px 10px;
}

.calendar-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0 5px;
}

/* Nút điều hướng */
.navigation-button {
    border: none;
    background: transparent;
    padding: 6px 12px;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navigation-button:hover {
    background-color: #e2e6ea;
}

/* Responsive cho màn hình nhỏ */
@media (max-width: 768px) {
    .calendar-container {
        max-width: 100%;
    }

    .calendar-header {
        gap: 10px;
    }

    .calendar-title {
        font-size: 1rem;
    }

    .navigation-button {
        padding: 4px 8px;
        font-size: 1rem;
    }

    .calendar-table th,
    .calendar-table td {
        padding: 4px;
        font-size: 0.75rem;
    }

    .day-amount {
        font-size: 10px;
        font-weight: 600;
    }

    .income-dot,
    .expense-dot {
        width: 5px;
        height: 5px;
    }

    .income-dot {
        left: 5px;
    }

    .expense-dot {
        right: 5px;
    }
}
