:root {
    --sidebar-width: 15rem;
    --bg-color: #f8f9fa;
    --active-color: #000;
    --border-color: #dee2e6;
}

#sidebar-wrapper {
    width: var(--sidebar-width);
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    z-index: 1000;
    overflow-x: hidden;
    transition: all 0.3s ease;
    display: none;
}

#wrapper.sidebar-open #sidebar-wrapper {
    display: block;
}

#page-content-wrapper {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    transition: padding-left 0.3s ease;
    margin-top: 3rem;
}

#wrapper.sidebar-open #page-content-wrapper {
    padding-left: var(--sidebar-width);
}

.navbar {
    background-color: var(--bg-color);
}

.list-group-item.active {
    font-weight: bold;
    color: var(--active-color) !important;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid var(--border-color) !important;
}
