/* sidebar.css */

/* Ẩn tràn ngang cho toàn bộ trang */
body {
    overflow-x: hidden;
}

/* Cấu hình sidebar */
#sidebar-wrapper {
    width: 15rem;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    z-index: 1000;
    overflow-x: hidden;
    transition: margin 0.25s ease-out;
    margin-left: -15rem; /* Ẩn sidebar theo mặc định */
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0; /* Hiện sidebar khi toggled */
}

/* Cấu hình page content wrapper */
#page-content-wrapper {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    transition: margin-left 0.3s ease;
    margin-top: 3rem; /* Đẩy nội dung xuống dưới topbar */
}

#wrapper:not(.toggled) #page-content-wrapper {
    margin-left: 15rem; /* Đẩy nội dung khi sidebar hiển thị */
}

#wrapper.toggled #page-content-wrapper {
    margin-left: 0; /* Căn chỉnh nội dung khi sidebar ẩn */
}

/* Cấu hình hiển thị navbar */
.navbar {
    background-color: #f8f9fa;
}

/* Tùy chỉnh nút logout */
.logout-button .btn {
    padding: 0.5rem 1rem;
}

/* Tùy chỉnh item đang active */
.list-group-item.active {
    font-weight: bold;
    color: #000 !important;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #dee2e6 !important;
}

/* Tùy chỉnh hiển thị trên màn hình lớn */
@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0; /* Sidebar hiển thị trên desktop */
    }

    #wrapper.toggled #sidebar-wrapper {
        display: none; /* Ẩn sidebar khi toggled trên desktop */
    }
}

#page-content-wrapper {
    margin-top: 3rem; /* Đẩy nội dung xuống dưới topbar */
}

@media (max-width: 767.98px) {
    #page-content-wrapper {
        margin-top: 0; /* Loại bỏ khoảng trắng trên cùng khi topbar ẩn */
    }

    .container-fluid {
        margin-top: 10%;
    }
}
